@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Almendra+SC);

/*---Canvas Styling---*/
#wrapper{
  text-align: center;
  padding: 20px;
}

#game{
  border: 1px solid gray;
  background-image: url('/img/tiles/brick.jpg');
}

/*---Text Stuff---*/
header h1{
  font-family: 'Almendra SC', serif;
  text-align: center;
  font-size: 5em;
  height: 75px;
  line-height: 75px;
}

p{
  font-family: 'Jacques Francois', serif;
  margin: 0px;
  line-height: 1.4em;
}

p:first-letter{
  font-family: 'Almendra SC', serif;
  font-size: 2em;
}

p:first-line{
  line-height: 1.4em;
}

h4{
  font-family: 'Jacques Francois', serif;
  text-align: center;
  margin: 5px;
}

.top-bar a{
  font-family: 'Jacques Francois', serif;
}
